@container-max-width: 1230px;
@container-min-width: 950px;
@main-font: Arial,Helvetica,sans-serif;

body{
	font-family: @main-font;
}

//top header begin
@top-header_black-color: #000000;
@top-header__link_active_color: #ffffff;
@top-header__link_light-blue:#b9b9c3;
@top-header__element_link-font-size: 12px;

.top-header {  
	height: auto;
}
.top-header_black {  
    background-color: @top-header_black-color;  
}
.top-header__container{
	max-width: @container-max-width;
	min-width: @container-min-width;
	margin: 0 auto;
	padding: 0 24px;
    background-color: inherit;
}
.top-header__fragment{
	display: inline-block;
}
.top-header__fragment_right{
	float:right;
}

.top-header__fragment_left{
	width: 60%;
}
.top-header__right-container{
	float:right;
	width: 40%;
}
.top-header__element{
	color: @top-header__link_light-blue;
	display: inline-block;
	margin-right: 18px;
	padding: 6px 6px 6px 0px;
}
.top-header__element_right{
	margin-left: 18px;
	margin-right: 0px;
	padding: 6px 0px 6px 0px;
}
.top-header__element_right_sprite{
	&:before {
		content: '';
		background: url(http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png) no-repeat;
		padding: 0px 0 0 16px;
		vertical-align: middle;
	}
	&:hover {
    	cursor: pointer;
    	color: @top-header__link_active_color;
	&:before {
	    content: '';
		background: url(http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png) no-repeat;
		padding: 0px 0px 0 16px;
		vertical-align: middle;
    }	
    }

}
.top-header__element_right_sprite_signin{
	&:before {
		background-position:  0 -33px;
    }	
    &:hover {
	&:before {
	    background-position: -17px -33px;
    }	
    }	
}
.top-header__element_right_sprite_register{
	&:before {
		background-position:  0 -66px;
    }	
    &:hover {
	&:before {
	    background-position: -17px -66px;
    }	
    }	
}
.top-header__element_right_sprite_advert{
		&:before {
		background-position:  -50px 0;
    }	
    &:hover {
	&:before {
	    background-position: -65px 0;
    }	
    }
}
.top-header__link{
	font-size: @top-header__element_link-font-size;
	text-decoration: none;
	color: inherit;
	padding-left: 1px;
	&:hover {
    	color: @top-header__link_active_color;
    }
}
.top-header__link_active{
	font-weight:bold;
	color: @top-header__link_active_color;
}
.top-header__link_sign-in{
	border-bottom: dotted 2px;
}
#top-header_navigation{
	width: 100%;
   z-index: 1000;
   position:fixed
}
.top-header_fixed{
	top:0px;
    position:fixed !important;
}
//top header END

//bottom header begin
@bottom-header_gray-color: #3a3a43;
@bottom-header__link_active_color: #fc0;
@bottom-header__link_active_color-blue: #518eba;
@bottom-header__link_color: #ffffff;
@bottom-header__element_special-offer_color: #ff7d41;
@bottom-header__element_link-font-size: 15px;

.bottom-header {  
	height: auto;
}
.bottom-header_gray {  
    background-color: @bottom-header_gray-color;
}
.bottom-header__container{
	max-width: @container-max-width;
	min-width: @container-min-width;
	margin: 0 auto;
	padding: 8px 24px 0px 24px;
    background-color: inherit;
}
.bottom-header__fragment{
	display: inline-block;
}
.bottom-header__link{
	font-size: @bottom-header__element_link-font-size;
	text-decoration: none;
	color: inherit;
}
.bottom-header__link_underline{
	border-bottom: dotted 2px;
}
.bottom-header__element{
	display: inline-block;
    padding: 9px 0px 17px;
    margin: 0 9px 0 0;
    color: @bottom-header__link_color;
    cursor: pointer;
    &:hover {
    	color: @bottom-header__link_active_color;
    	border-bottom: solid 3px @bottom-header__link_active_color;
    }
}
.bottom-header__element_logo{
    &:hover {
    	border-bottom: none;
    }
}
.bottom-header__element_active {
	color: @bottom-header__link_active_color;
	font-weight:bold;
	border-bottom: solid 3px @bottom-header__link_active_color;
}
.bottom-header__main-logo{
	width: 180px;
	height: auto;
	margin-right: 9px;
	vertical-align: middle;
}
.bottom-header__absolut-logo{
	width: 78px;
	height: 15px;
	vertical-align: middle;
		background-color: @bottom-header__link_color;
    	-webkit-mask-image: url("../images/Absolut-Logo.svg");
    	mask-image: url("../images/Absolut-Logo.svg");
	&:hover {
		background-color: @bottom-header__link_active_color-blue;
    	-webkit-mask-image: url("../images/Absolut-Logo.svg");
    	mask-image: url("../images/Absolut-Logo.svg");
    	border-bottom: none;
    }
}
.bottom-header__add{
	width: 200px;
	height: auto;
	vertical-align: middle;
	float:right;
}
.bottom-header__element_special-offer{
	color: @bottom-header__element_special-offer_color;
	&:before {
		content: '';
	    background: url(http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png) 0 -109px no-repeat;
	    padding: 8px 5px 0 17px;
    }
}
//bottom header END

//content-section begin
.content-section{

	max-width: @container-max-width;
	min-width: @container-min-width;
	padding: 50px 24px;
	margin: 10px auto;
}
.all-content-section{

}
//main-content begin
@content-section__main-content-container_min-width: 700px;
@content-section__main-content-container_max-width: 936px;
@content-section__main-content_bg-color: #ffffff;
@content-section__bredcrumbs-link-color: #0072be;
@content-section__bredcrumbs-link-font-size: 12px;
@content-section__main-advertisement-header-font-size: 24px;
@content-section__main-content-font-color: #2e353a;
@content-section__main-advertisement-timer-container_hours-section-color: #424242;
@content-section__main-advertisement-timer-container_hours-section-font-color: #ffcc02;
@content-section__main-advertisement-button-red-color: #ff5f47;
@content-section__main-advertisement-button-green-color: #62c741;
@content-section__main-advertisement-button-font-color: #ffffff;
@content-section__other-adv-timer-days-font-color: #ffffff;
@content-section__other-adv-block-height: 200px;

.content-section__main-content{
	margin-right: 256px;
		display:inline-block;
		vertical-align: top;
		 	  min-width: @content-section__main-content-container_min-width;
	max-width: @content-section__main-content-container_max-width;

}
.content-section__main-content-container{
	border: solid 1px #cccccc;
	margin: 20px 0 0 0;
	padding: 20px 20px 1px 20px;


}
.content-section__bredcrumbs{
	margin-bottom:30px;
}
.content-section__bredcrumbs-link{
	color: @content-section__bredcrumbs-link-color;
	font-size: @content-section__bredcrumbs-link-font-size;
	text-decoration: none;
}
.content-section__main-advertisement{
	width:100%;
	height: auto;
}
.content-section__main-advertisement-header{
	color: @content-section__main-content-font-color;
	font-size: @content-section__main-advertisement-header-font-size;
	line-height: @content-section__main-advertisement-header-font-size + 4px;
	a{
		text-decoration: none;
		color: inherit;
		font-weight: 300;
	}
}
.content-section__main-advertisement-header-block{
	&:after {
            content: "";
            display: table;
            clear: both;
    }

}
.content-section__main-advertisement-header-text{
	width:70%;
	float:left;
}
.content-section__main-advertisement-timer{
	width:30%;
	float:right;
}
.content-section__main-advertisement-timer-container{
	text-align: center;
	margin:auto;
}
.content-section__main-advertisement-timer-container_days{
	color: @content-section__main-content-font-color;
	font-size: @content-section__main-advertisement-header-font-size - 4px;
	font-weight:600;
}
.content-section__main-advertisement-timer-container_hours{
	color: @content-section__main-advertisement-timer-container_hours-section-font-color;
	font-size: @content-section__main-advertisement-header-font-size - 4px;
	font-weight:100;
	margin-top: 10px;
	background-color: @content-section__main-advertisement-timer-container_hours-section-color;
	max-width:125px;
	padding:10px;
	border-radius:3px;
}
.content-section__main-advertisement-button-red{
	background-color: @content-section__main-advertisement-button-red-color;
	color: @content-section__main-advertisement-button-font-color;
	padding: 3px 8px;
	border-radius: 3px;
	border: none;
	margin: 20px 0;
		&:hover{
			cursor:pointer;
			background-color: lighten(@content-section__main-advertisement-button-red-color, 10%);
		}
}
.content-section__main-advertisement-content{
	height:240px;
	width:100%;
	padding: 20px 0 30px 0;
	border-bottom: solid 1px #cccccc;
	&:after {
            content: "";
            display: table;
            clear: both;
    }


}
.content-section__main-advertisement-content-image{
	height:100%;
	width:38%;	
	float:left;
			overflow: hidden;	
			text-align:center;
	img{
		height:100%;
		width:auto;

	}
}
.content-section__main-advertisement-content-text{
	width:62%;
	float:right;
	p{
		padding:17px;
		font-size: @content-section__bredcrumbs-link-font-size + 3px;
		line-height: @content-section__bredcrumbs-link-font-size + 6px;
	}
}
.content-section__main-advertisement-button-green{
	background-color: @content-section__main-advertisement-button-green-color;
	color: @content-section__main-advertisement-button-font-color;
	padding: 12px 20px;
	border-radius: 3px;
	border: none;
	margin: 0px 10px;
	font-size: @content-section__bredcrumbs-link-font-size + 3px;
	float: left;
		vertical-align: middle;
		&:hover{
			cursor:pointer;
			background-color: lighten(@content-section__main-advertisement-button-green-color, 10%);
		}
}
.content-section__main-advertisement-content-details{

	line-height:45px;
	p{		padding:12px 17px 0 17px;
			vertical-align: middle;
	float: left;
	}
}
.content-section__other-adv-header{
		color: @content-section__main-content-font-color;
	font-size: @content-section__main-advertisement-header-font-size - 9px;
	line-height: @content-section__main-advertisement-header-font-size + 6px;
	h3{
		padding: 20px 0;
		color: inherit;
		font-weight: 600;
	}
}
.content-section__other-adv-block{
	width:100%;
	height: @content-section__other-adv-block-height;
	margin-bottom: 20px;
		&:after {
            content: "";
            display: table;
            clear: both;
    }
	
}
.content-section__other-adv-image{
	width:30%;
	overflow: hidden;
	height:100%;
	float:left;
    position: relative;
	img{
		height:100%;
		width:auto;
  margin-left: 50%; 
  transform: translateX(-50%); 
	}
}
.content-section__other-adv-text{
	width:50%;
	float:left;
	color: @content-section__main-content-font-color;
	font-size: @content-section__main-advertisement-header-font-size - 9px;

	h4{
		padding: 15px 0 0 20px;
		color: inherit;
		font-weight: 600;
	}
		a{
		text-decoration: none;
		color: inherit;
		font-weight: inherit;
	}
		p{
		padding: 10px 0 0 20px;
		color: inherit;
		font-weight: 300;
			font-size: @content-section__main-advertisement-header-font-size - 11px;
	line-height: @content-section__main-advertisement-header-font-size - 5px;
	}
}
.content-section__other-adv-timer{
		float:right;
	width:20%;

}
.content-section__other-adv-timer-container-outer{
		  display: table;

}
.content-section__other-adv-timer-container{
	display:  table-cell;
		height: 200px;
		margin:auto;
		text-align:center;
		vertical-align:middle;
		p{
			
			font-size: @content-section__main-advertisement-header-font-size - 11px;
		}
}
.content-section__other-adv-timer-days{
	float:left;
	background-color: @content-section__main-advertisement-timer-container_hours-section-color;
	padding: 5px;
	color: @content-section__other-adv-timer-days-font-color;
	font-weight: 600;
	border-radius: 3px;
}
.content-section__other-adv-timer-days_left{
	border-right: solid 1px @content-section__other-adv-timer-days-font-color;
	border-radius: 3px 0 0 3px;
}
.content-section__other-adv-timer-days_right{
	border-radius: 0 3px 3px 0;
}
.content-section__other-adv-timer-days-text-1{
	text-align:left;
	padding: 0 0 5px 0px;
}
.content-section__other-adv-timer-days-text-2{
	float:left;
	padding: 5px 0 0 5px ;
}
.content-section__main-advertisement-button-red_on-image{
position:absolute;
top:10px;
right:10px;
z-index:555;
margin: 0;
}
//main-content END
//bottom-content
.content-section__bottom-conten{
	margin-top: 70px;
	padding-bottom: 50px;

}
.content-section__bottom-conten-row{
	display:block;
	position: relative;
}
.content-section__bottom-conten-col{
	width: 32%;
	float:left;
}
.content-section__bottom-conten-card{
	border: solid 1px #cccccc;
	overflow: hidden;
		margin-bottom: 25px;
	img{
		width:auto;
		height:200px;
  margin-left: 50%; 
  transform: translateX(-50%); 
	}
		color: @content-section__main-content-font-color;
	font-size: @content-section__main-advertisement-header-font-size - 7px;

	h4{
		padding: 15px 20px 20px 20px;
		color: inherit;
		font-weight: 600;
	}
		a{
		text-decoration: none;
		color: inherit;
		font-weight: inherit;
	}
	&:hover{
		 box-shadow: 0 6px 6px 3px rgba(221, 221, 221, 1);
	}
}
.content-section__bottom-conten-card_right-padding{
	padding-right:2%;
}
.content-section__main-advertisement-button-red-on-card{
	margin-top:0px;
	margin-left:20px;
	margin-bottom:20px;
}




//bottom-content END



//sidebar begin
@content-section__sidebar_width: 250px;
@content-section__sidebar_bg-color: #ebebed;
@content-section__sidebar_bg-color-hover: #ffffff;

.content-section__sidebar{
		vertical-align:top;
		    background: @content-section__sidebar_bg-color;
		        width: 250px;
float: left;
padding-top:20px;
    min-width: 0;
    margin-left: -250px;
    right: 0;
    position: absolute;
    z-index: 0;
    top: 70px;

}
.content-section__sidebar-container{
padding-top:10px;
background: @content-section__sidebar_bg-color;
	border-left: solid 1px #cccccc;
}
.content-section__sidebar-card{
	padding:10px 15px 10px 15px;
	border-bottom: solid 1px #cccccc;
	img{
		
		width:100%;
		height:auto;
	}
		color: @content-section__main-content-font-color;
	font-size: @content-section__main-advertisement-header-font-size - 9px;

	h4{
		padding: 15px 0 0 0px;
		color: inherit;
		font-weight: 600;
	}
		a{
		text-decoration: none;
		color: inherit;
		font-weight: inherit;
	}
		p{
		padding: 10px 0 0 0px;
		color: inherit;
		font-weight: 300;
			font-size: @content-section__main-advertisement-header-font-size - 11px;
	line-height: @content-section__main-advertisement-header-font-size - 5px;
	}

	&:hover{
		background-color: @content-section__sidebar_bg-color-hover;
	}
}

//sidebar end